.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #7b1fa2;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.operator {
  margin: 1rem;
  text-decoration: none;
  border-radius: 10px;
  max-width: 150px;
  max-height: 90px;

  &__img {
    border: 1px solid #7b1fa2;
    width: 150px;
    height: 90px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out 0s;
  }
  &__img:hover {
    border: 3px solid #7b1fa2;
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease 0s;
  }
  &__imgPay {
    width: 150px;
    min-height: 90px;
    border-radius: 10px;
    border: 2px solid #7b1fa2;
  }
}

.general {
  width: 60%;
  background: #f3e5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  border-radius: 10px;
  border: 2px solid #000000;
  &__tabs {
    padding-bottom: 10px;
    height: 42px;
    width: 311px;
    margin-bottom: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__tabsButton {
    font-size: 20px;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 0em;
    color: #bb75ee;
    border: none;
  }

  &__tabsButton:hover {
    color: #ab47bc;
    cursor: pointer;
    border-bottom: 3px solid #ab47bc;
    border-radius: 4px;
  }

  &__tabsButtonActive {
    font-size: 20px;
    background: #f3e5f5;
    color: #ab47bc;
    border-bottom: 3px solid #ab47bc;
    border-radius: 4px;
  }

  &__title {
    font-size: 30px;
  }
}

.addOperator {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 90%;
  border-radius: 10px;
  &__input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #7b1fa2;
    background-color: #f3e5f5;
  }
}

.paymentForm {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 90%;
  border-radius: 10px;
  &__input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #7b1fa2;
    background-color: #f3e5f5;
  }
}

.payResult {
  display: none;
}

.payResultActive {
  margin-top: 20px;
  display: block;
}

.payResultFalse {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid red;
  text-align: center;
  &__span {
    color: red;
    font-size: 10px;
  }
}

.payResultTrue {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid green;
  text-align: center;
  &__span {
    color: green;
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .grid {
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  .operator {
    &__img {
      margin-bottom: 20px;
    }
  }

  .general {
    width: 80%;
    justify-content: center;
    text-align: center;
    &__tabs {
      height: 42px;
      width: 200px;
      margin-bottom: 48px;
    }

    &__tabsButton {
      font-size: 15px;
    }
    &__tabsButtonActive {
      font-size: 15px;
    }
    &__title {
      font-size: 20px;
    }
  }
  .addOperator {
    width: 100%;
    &__input {
      font-size: 10px;
    }
    &__button {
      width: 100%;
    }
  }

  .paymentForm {
    width: 100%;
    &__button {
      width: 100%;
    }
  }

  .payResultFalse {
    width: 100%;
    height: 50px;
    align-items: center;
  }

  .payResultTrue {
    width: 100%;
    height: 30px;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .grid {
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  .operator {
    &__img {
      margin-bottom: 20px;
    }
  }

  .general {
    width: 80%;
    justify-content: center;
    text-align: center;
    &__tabs {
      height: 42px;
      width: 200px;
      margin-bottom: 48px;
    }

    &__tabsButton {
      font-size: 15px;
    }
    &__tabsButtonActive {
      font-size: 15px;
    }
    &__title {
      font-size: 20px;
    }
  }
  .addOperator {
    width: 100%;
    &__button {
      width: 100%;
    }
  }

  .paymentForm {
    width: 100%;
    &__button {
      width: 100%;
    }
  }
}
