.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7b1fa2;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.operator {
  margin: 1rem;
  text-decoration: none;
  border-radius: 10px;
  max-width: 150px;
  max-height: 90px;
}

.operator__img {
  border: 1px solid #7b1fa2;
  width: 150px;
  height: 90px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.operator__img:hover {
  border: 3px solid #7b1fa2;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.operator__imgPay {
  width: 150px;
  min-height: 90px;
  border-radius: 10px;
  border: 2px solid #7b1fa2;
}

.general {
  width: 60%;
  background: #f3e5f5;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  border-radius: 10px;
  border: 2px solid #000000;
}

.general__tabs {
  padding-bottom: 10px;
  height: 42px;
  width: 311px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.general__tabsButton {
  font-size: 20px;
  font-style: normal;
  line-height: 33px;
  letter-spacing: 0em;
  color: #bb75ee;
  border: none;
}

.general__tabsButton:hover {
  color: #ab47bc;
  cursor: pointer;
  border-bottom: 3px solid #ab47bc;
  border-radius: 4px;
}

.general__tabsButtonActive {
  font-size: 20px;
  background: #f3e5f5;
  color: #ab47bc;
  border-bottom: 3px solid #ab47bc;
  border-radius: 4px;
}

.general__title {
  font-size: 30px;
}

.addOperator {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  border-radius: 10px;
}

.addOperator__input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  background-color: #f3e5f5;
}

.paymentForm {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  border-radius: 10px;
}

.paymentForm__input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  background-color: #f3e5f5;
}

.payResult {
  display: none;
}

.payResultActive {
  margin-top: 20px;
  display: block;
}

.payResultFalse {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid red;
  text-align: center;
}

.payResultFalse__span {
  color: red;
  font-size: 10px;
}

.payResultTrue {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid green;
  text-align: center;
}

.payResultTrue__span {
  color: green;
  font-size: 10px;
}

@media (max-width: 600px) {
  .grid {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .operator__img {
    margin-bottom: 20px;
  }
  .general {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .general__tabs {
    height: 42px;
    width: 200px;
    margin-bottom: 48px;
  }
  .general__tabsButton {
    font-size: 15px;
  }
  .general__tabsButtonActive {
    font-size: 15px;
  }
  .general__title {
    font-size: 20px;
  }
  .addOperator {
    width: 100%;
  }
  .addOperator__input {
    font-size: 10px;
  }
  .addOperator__button {
    width: 100%;
  }
  .paymentForm {
    width: 100%;
  }
  .paymentForm__button {
    width: 100%;
  }
  .payResultFalse {
    width: 100%;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .payResultTrue {
    width: 100%;
    height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .grid {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .operator__img {
    margin-bottom: 20px;
  }
  .general {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .general__tabs {
    height: 42px;
    width: 200px;
    margin-bottom: 48px;
  }
  .general__tabsButton {
    font-size: 15px;
  }
  .general__tabsButtonActive {
    font-size: 15px;
  }
  .general__title {
    font-size: 20px;
  }
  .addOperator {
    width: 100%;
  }
  .addOperator__button {
    width: 100%;
  }
  .paymentForm {
    width: 100%;
  }
  .paymentForm__button {
    width: 100%;
  }
}
/*# sourceMappingURL=Home.module.css.map */