.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #7b1fa2;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.operator {
  margin: 1rem;
  text-decoration: none;
  border-radius: 10px;
  max-width: 150px;
  max-height: 90px;
  background-color: #000000;
}

.operator__img {
  width: 150px;
  height: 90px;
  border-radius: 10px;
}

.operator__img:hover {
  border: 3px solid #7b1fa2;
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.operator__imgPay {
  width: 150px;
  min-height: 90px;
  border-radius: 10px;
  border: 2px solid #7b1fa2;
}

.main {
  width: 60%;
  background: #f3e5f5;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  border-radius: 10px;
  border: 2px solid #000000;
}

.main__tabs {
  padding-bottom: 10px;
  height: 42px;
  width: 311px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__tabsButton {
  font-size: 20px;
  font-style: normal;
  line-height: 33px;
  letter-spacing: 0em;
  background: #f3e5f5;
  color: #ce93d8;
  border: none;
}

.main__tabsButton:hover {
  color: #ab47bc;
  cursor: pointer;
  border-bottom: 3px solid #ab47bc;
}

.main__tabsButtonActive {
  font-size: 20px;
  font-style: normal;
  line-height: 33px;
  letter-spacing: 0em;
  background: #f3e5f5;
  color: #ab47bc;
  border-bottom: 3px solid #ab47bc;
}

.addForm {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  border-radius: 10px;
}

.addForm__input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  background-color: #f3e5f5;
}

.addForm__button {
  padding: 5px;
  background-color: #ce93d8;
  border-radius: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  width: 20%;
  font-weight: 600;
}

.addForm__button:hover {
  background-color: #ab47bc;
  cursor: pointer;
}

.addForm__span {
  text-align: left;
  font-weight: 600;
}

.paymentForm {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  border-radius: 10px;
}

.paymentForm__input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  background-color: #f3e5f5;
}

.paymentForm__button {
  padding: 5px;
  background-color: #ce93d8;
  border-radius: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  width: 20%;
  font-weight: 600;
  cursor: pointer;
}

.paymentForm__button:hover {
  background-color: #ab47bc;
}

.paymentForm__span {
  text-align: left;
  font-weight: 600;
}

.payResult {
  display: none;
}

.payResultActive {
  margin-top: 20px;
  display: block;
}

.payResultFalse {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid red;
  text-align: center;
}

.payResultFalse__span {
  color: red;
  font-size: 10px;
}

.payResultTrue {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid green;
  text-align: center;
}

.payResultTrue__span {
  color: green;
  font-size: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=Home.module.css.map */