.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #7b1fa2;
}

.main {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  border-radius: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.operator {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 150px;
}



.main__tabs {
  padding-bottom: 10px;
  height: 42px;
  width: 311px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__tabsButton {
  font-size: 20px;
  font-style: normal;
  line-height: 33px;
  letter-spacing: 0em;
  background: #f3e5f5;
  color: #ce93d8;
  border: none;
}

.main__tabsButton:hover {
  color: #ab47bc;
  cursor: pointer;
  border-bottom: 3px solid #ab47bc;
}

.operatorImg {
  border-radius: 10px;
}

.payForm {
  width: 70%;
  background: #f3e5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 90%;
  border-radius: 10px;
}

.payForm__input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #7b1fa2;
  background-color:#f3e5f5; ;
}

.payForm__button {
  padding: 5px;
  background-color: #ce93d8;
  border-radius: 40px;
  box-shadow: none;
  border: none;
  width: 20%;
  font-weight: 600;
}

.payForm__button:hover {
  background-color: #ab47bc;
}

.payForm__span {
  text-align: left;
  font-weight: 600;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
